{
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "never",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}
